{% extends "base.html" %}
{% block app_content %}
    <style>
    div {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    p {
      margin-top: 5px;
    }
    </style>
    <h1>Select your criteria below:</h1>
    <div>
        <form method="POST" action="/">
            <div class="form-field"> {{ form.gender_options.label }} {{form.gender_options }} </div>
            <div class="form-field"> {{ form.medication_options.label }} {{form.medication_options }} </div>
            <div class="form-field"> {{ form.scholarship_options.label }} {{form.scholarship_options }} </div>
            <div class="form-field"> {{ form.insurance_options.label }} {{form.insurance_options }} </div>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}
