{% extends "base.html" %}
{% block app_content %}
    <style>
    div {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    p {
      margin-top: 5px;
    }
    </style>
    <h1>Select your criteria below:</h1>
    <div>
    <h2>Gender</h2>
    <select name=gender\_options method='GET' action=/'>
            {% for entry in gender_options %}
            <option value= "{{entry}}" SELECTED>{{entry}}</option>"
            {% endfor %}
    </select>
    <h2>Medication accepted?</h2>
    <select name=medication\_options method='GET' action=/'>
            {% for entry in scholarship_options %}
            <option value= "{{entry}}" SELECTED>{{entry}}</option>"
            {% endfor %}
    </select>
    <h2>Insurance accepted?</h2>
    <select name=insurance\_options method='GET' action=/'>
            {% for entry in scholarship_options %}
            <option value= "{{entry}}" SELECTED>{{entry}}</option>"
            {% endfor %}
    </select>
    <h2> Scholarships Accepted?</h2>
    <select name=scholarship\_options method='GET' action=/'>
            {% for entry in scholarship_options %}
            <option value= "{{entry}}" SELECTED>{{entry}}</option>"
            {% endfor %}
    </select>
    </div>
    <div>
        <form method="post">
            <input type="submit" name="submit" value="Search for Sober Houses" >
        </form>
    </div>
{% endblock %}
